body {
  background-image: url('../public/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-size: auto;
}

.container {
  background-color: rgba(0, 0, 0, 0.555); /* Cor de fundo com transparência para melhor legibilidade do conteúdo */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 /* background-color: #000;*/
}

.formulario-container {
  position: relative;
  z-index: 1; /* Certifica-se de que o formulário esteja na frente do fundo */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff; /* Fundo branco */
}

.formulario {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 20px;
}

.titulo {
  margin-top: 0%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.input {
  width: 95%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  outline: none;
}

.input::placeholder {
  color: #aaa;
}

.botao {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: #45a049;
}

.mensagem-erro {
  color: red;
  margin-top: 5px;
}

.input-invalido {
  border-color: red;
}

.toggle-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2; /* Certifica-se de que o switch esteja na frente do formulário */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.check-animation {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 52px;
  height: 52px;
  animation: checkmark 0.6s ease forwards;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: none;
}

.checkmark__check {
  transform-origin: 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: checkmark 0.3s 0.6s ease forwards;
}

.formularioenviado{

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh
}

.textformularioenviado{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}


/* Estilos para o modo escuro */
.modo-escuro .formulario-container {
  background-color: #333;
  color: #fff;
}

.modo-escuro

.modo-escuro .input::placeholder {
  color: #ff0000;
}

.modo-escuro .toggle-label {
  color: #fff;
}

.modo-escuro .slider {
  background-color: #555;
}

.modo-escuro input:checked + .slider {
  background-color: #2196F3;
}
.modo-escuro .input {
  color: #fff; /* Cor do texto digitado no modo escuro */
}
